### Title: Exercice 6.2
### Author: Jerock Kalala
### Date: October 17 2022
### Professor: David Kinney
### Pandas skills exercises

##### Exercises Using the CSV files in the exercises/ folder and what we have learned so far in this book, complete the following exercises:

In [3]:
import pandas as pd
import numpy as np
#read the earthquakes csv file
df = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_6\exercises\\earthquakes.csv")
df_f= pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_6\exercises\\faang.csv")

query_1 = df.query('magType == "mb" and mag >= 4.9')
query_1.head()

,mag,magType,time,place,tsunami,parsed_place
227,5.2,mb,1539389603790,"15km WSW of Pisco, Peru",0,Peru
229,4.9,mb,1539389546300,"193km N of Qulansiyah, Yemen",0,Yemen
248,4.9,mb,1539382925190,"151km S of Severo-Kuril'sk, Russia",0,Russia
258,5.1,mb,1539380306940,"236km NNW of Kuril'sk, Russia",0,Russia
391,5.1,mb,1539337221080,Pacific-Antarctic Ridge,0,Pacific-Antarctic Ridge

##### 1. With the earthquakes.csv file, select all the earthquakes in Japan with a magType of mb and a magnitude of 4.9 or greater.

In [4]:
japan_data = df.query('parsed_place=="Japan" and magType == "mb" and mag >= 4.9')
japan_data.head()

,mag,magType,time,place,tsunami,parsed_place
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan

##### 2. Create bins for each full number of magnitude (for example, the first bin is 0-1, the second is 1-2, and so on) with a magType of ml and count how many are in each bin.

In [5]:
bin_1 = df.query('mag==0 and mag <= 1 and magType == "ml"')
bin_2 = df.query('mag>1 and mag <= 2 and magType == "ml"')
bin_3 = df.query('mag>2 and mag <= 3 and magType == "ml"')
bin_4 = df.query('mag>3 and mag <= 4 and magType == "ml"')
bin_5 = df.query('mag>4 and mag <= 5 and magType == "ml"')
bin_6 = df.query('mag>5 and mag <= 6 and magType == "ml"')
bin_7 = df.query('mag>6 and mag <= 7 and magType == "ml"')
bin_8 = df.query('mag>7 and mag <= 8 and magType == "ml"')
bin_9 = df.query('mag>8 and mag <= 9 and magType == "ml"')
bin_10 = df.query('mag>9 and magType == "ml"')

def get_row_count(*dfs):
    return [df.shape[0] for df in dfs]
get_row_count(bin_1, bin_2, bin_3, bin_4, bin_5, bin_6, bin_7, bin_8, bin_9, bin_10)

[45, 3105, 862, 122, 2, 1, 0, 0, 0, 0]

In [6]:
def get_info(attr, *dfs):
    return list(map(lambda x: getattr(x, attr), dfs))
get_info('shape', bin_1, bin_2, bin_3, bin_4, bin_5, bin_6, bin_7, bin_8, bin_9, bin_10)

[(45, 6),
 (3105, 6),
 (862, 6),
 (122, 6),
 (2, 6),
 (1, 6),
 (0, 6),
 (0, 6),
 (0, 6),
 (0, 6)]

##### 3. Using the faang.csv file, group by the ticker and resample to monthly frequency. Make the following aggregations: *Mean of the opening price, *Maximum of the high price, *Minimum of the low price, *Mean of the closing price, *Sum of the volume traded

In [7]:
#Converting to DateTime Format
df_f['date'] = pd.to_datetime(df_f['date'])
#Setting Index
#df_f.set_index("date",inplace=True)

In [8]:
monthly_freq = df_f.groupby('ticker').resample('M', on='date').agg({'open': 'mean', 'high': 'max', 'low': 'min',
                                                              'close': 'mean', 'volume': 'sum'})
monthly_freq

                          open       high        low        close     volume
ticker date
AAPL   2018-01-31   170.714690   176.6782   161.5708   170.699271  659679440
       2018-02-28   164.562753   177.9059   147.9865   164.921884  927894473
       2018-03-31   172.421381   180.7477   162.4660   171.878919  713727447
       2018-04-30   167.332895   176.2526   158.2207   167.286924  666360147
       2018-05-31   182.635582   187.9311   162.7911   183.207418  620976206
       2018-06-30   186.605843   192.0247   178.7056   186.508652  527624365
       2018-07-31   188.065786   193.7650   181.3655   188.179724  393843881
       2018-08-31   210.460287   227.1001   195.0999   211.477743  700318837
       2018-09-30   220.611742   227.8939   213.6351   220.356353  678972040
       2018-10-31   219.489426   231.6645   204.4963   219.137822  789748068
       2018-11-30   190.828681   220.6405   169.5328   190.246652  961321947
       2018-12-31   164.537405   184.1501   145.9639   163.564732  898917007
AMZN   2018-01-31  1301.377143  1472.5800  1170.5100  1309.010952   96371290
       2018-02-28  1447.112632  1528.7000  1265.9300  1442.363158  137784020
       2018-03-31  1542.160476  1617.5400  1365.2000  1540.367619  130400151
       2018-04-30  1475.841905  1638.1000  1352.8800  1468.220476  129945743
       2018-05-31  1590.474545  1635.0000  1546.0200  1594.903636   71615299
       2018-06-30  1699.088571  1763.1000  1635.0900  1698.823810   85941510
       2018-07-31  1786.305714  1880.0500  1678.0600  1784.649048   97629820
       2018-08-31  1891.957826  2025.5700  1776.0200  1897.851304   96575676
       2018-09-30  1969.239474  2050.5000  1865.0000  1966.077895   94445693
       2018-10-31  1799.630870  2033.1900  1476.3600  1782.058261  183228552
       2018-11-30  1622.323810  1784.0000  1420.0000  1625.483810  139290208
       2018-12-31  1572.922105  1778.3400  1307.0000  1559.443158  154812304
FB     2018-01-31   184.364762   190.6600   175.8000   184.962857  495655736
       2018-02-28   180.721579   195.3200   167.1800   180.269474  516621991
       2018-03-31   173.449524   186.1000   149.0200   173.489524  996232472
       2018-04-30   164.163557   177.1000   150.5100   163.810476  751130388
       2018-05-31   181.910509   192.7200   170.2300   182.930000  401144183
       2018-06-30   194.974067   203.5500   186.4300   195.267619  387265765
       2018-07-31   199.332143   218.6200   166.5600   199.967143  652763259
       2018-08-31   177.598443   188.3000   170.2700   177.491957  549016789
       2018-09-30   164.232895   173.8900   158.8656   164.377368  500468912
       2018-10-31   154.873261   165.8800   139.0300   154.187826  622446235
       2018-11-30   141.762857   154.1300   126.8500   141.635714  518150415
       2018-12-31   137.529474   147.1900   123.0200   137.161053  558786249
GOOG   2018-01-31  1127.200952  1186.8900  1045.2300  1130.770476   28738485
       2018-02-28  1088.629474  1174.0000   992.5600  1088.206842   42384105
       2018-03-31  1096.108095  1177.0500   980.6400  1091.490476   45430049
       2018-04-30  1038.415238  1094.1600   990.3700  1035.696190   41773275
       2018-05-31  1064.021364  1110.7500  1006.2900  1069.275909   31849196
       2018-06-30  1136.396190  1186.2900  1096.0100  1137.626667   32103642
       2018-07-31  1183.464286  1273.8900  1093.8000  1187.590476   31953386
       2018-08-31  1226.156957  1256.5000  1188.2400  1225.671739   28820379
       2018-09-30  1176.878421  1212.9900  1146.9100  1175.808947   28863199
       2018-10-31  1116.082174  1209.9600   995.8300  1110.940435   48496167
       2018-11-30  1054.971429  1095.5700   996.0200  1056.162381   36735570
       2018-12-31  1042.620000  1124.6500   970.1100  1037.420526   40256461
NFLX   2018-01-31   231.269286   286.8100   195.4200   232.908095  238377533
       2018-02-28   270.873158   297.3600   236.1100   271.443684  184585819
       2018-03-31   312.712857   333.9800   275.9000   312.228095  263449491
       2018-04-30   309.129529   338.8200   271.2239   307.466190  262064417
       2018-05-31   329.779759   356.1000   305.7300   331.536818  142051114
       2018-06-30   384.557595   423.2056   352.8200   384.133333  244032001
       2018-07-31   380.969090   419.7700   328.0000   381.515238  305487432
       2018-08-31   345.409591   376.8085   310.9280   346.257826  213144082
       2018-09-30   363.326842   383.2000   335.8300   362.641579  170832156
       2018-10-31   340.025348   386.7999   271.2093   335.445652  363589920
       2018-11-30   290.643333   332.0499   250.0000   290.344762  257126498
       2018-12-31   266.309474   298.7200   231.2300   265.302368  234304628

##### 4. Build a crosstab with the earthquake data between the tsunami column and the magType column. Rather than showing the frequency count, show the maximum magnitude that was observed for each combination. Put the magType along the columns.

In [9]:
pd.crosstab(df.magType, df.tsunami, values=df.mag, aggfunc='max')

tsunami     0     1
magType
mb       5.60  6.10
mb_lg    3.50   NaN
md       4.11   NaN
mh       1.10   NaN
ml       4.20  5.10
ms_20     NaN  5.70
mw       3.83  4.41
mwb      5.80   NaN
mwr      4.80   NaN
mww      6.00  7.50

##### 5. Calculate the rolling 60-day aggregations of OHLC data by ticker for the FAANG data. Use the same aggregations as exercise #3.

In [10]:
df_f.groupby('ticker').rolling(60).agg({'open': 'mean', 'high': 'max', 'low': 'min',
                                                             'close': 'mean', 'volume': 'sum'})

                   open      high     low       close       volume
ticker
AAPL   251          NaN       NaN     NaN         NaN          NaN
       252          NaN       NaN     NaN         NaN          NaN
       253          NaN       NaN     NaN         NaN          NaN
       254          NaN       NaN     NaN         NaN          NaN
       255          NaN       NaN     NaN         NaN          NaN
...                 ...       ...     ...         ...          ...
NFLX   999   306.018050  386.7999  233.68  303.239833  811001766.0
       1000  303.596050  386.7999  231.23  301.232167  818289623.0
       1001  301.500383  386.7999  231.23  299.134417  822148280.0
       1002  299.393050  380.9300  231.23  297.116750  824496849.0
       1003  297.420217  380.0000  231.23  295.293583  832207164.0

[1255 rows x 5 columns]

##### 6. Create a pivot table of the FAANG data that compares the stocks. Put the ticker in the rows and show the averages of the OHLC and volume traded data.

In [11]:
df_f['ticker'].unique()

array(['FB', 'AAPL', 'AMZN', 'NFLX', 'GOOG'], dtype=object)

In [12]:
pd.pivot_table(df_f, index='ticker')

C:\Users\jeroc\AppData\Local\Temp\ipykernel_31216\2018325004.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.pivot_table(df_f, index='ticker')

              close         high          low         open        volume
ticker
AAPL     186.986218   188.906858   185.135729   187.038674  3.402145e+07
AMZN    1641.726175  1662.839801  1619.840398  1644.072669  5.649563e+06
FB       171.510936   173.615298   169.303110   171.454424  2.768798e+07
GOOG    1113.225139  1125.777649  1101.001594  1113.554104  1.742645e+06
NFLX     319.290299   325.224583   313.187273   319.620533  1.147030e+07

##### 7. Calculate the Z-scores for each numeric column of Netflix's data (ticker is NFLX) using apply().

In [20]:
import scipy

df_netflix = df_f.query('ticker== "NFLX"')
df_zscore = df_netflix.select_dtypes(include='number').apply(scipy.stats.zscore)
df_zscore.head()

         open      high       low     close    volume
753 -2.505749 -2.521050 -2.415042 -2.421473 -0.088937
754 -2.385047 -2.428022 -2.290360 -2.339951 -0.508620
755 -2.300860 -2.410885 -2.239081 -2.328071 -0.961204
756 -2.279559 -2.350294 -2.206487 -2.238767 -0.783894
757 -2.223367 -2.299699 -2.148042 -2.196572 -1.040606

##### 8. Add event descriptions:

###### 8.1. Create a dataframe with the following three columns: ticker, date, and event. The columns should have the following values:
###### * ticker: 'FB'
###### * date: ['2018-07-25', '2018-03-19', '2018-03-20']
###### * event: ['Disappointing user growth announced after close.', 'Cambridge Analytica story', 'FTC investigation']

In [41]:
data = {'ticker': ['FB', 'FB', 'FB'], 'date': ['2018-07-25', '2018-03-19',  '2018-03-20'],
        'event': ['Disappointing user growth announced after close', 'Cambridge Analytica story', 'FTC investigation']}
df_new = pd.DataFrame(data)
df_new

  ticker        date                                            event
0     FB  2018-07-25  Disappointing user growth announced after close
1     FB  2018-03-19                        Cambridge Analytica story
2     FB  2018-03-20                                FTC investigation

###### 8.2. Set the index to ['date', 'ticker']

In [42]:
df_new.set_index(['date', 'ticker'])

                                                             event
date       ticker
2018-07-25 FB      Disappointing user growth announced after close
2018-03-19 FB                            Cambridge Analytica story
2018-03-20 FB                                    FTC investigation

###### 8.3. Merge this data with the FAANG data using an outer join

In [43]:
df_merge =  pd.concat([df_f, df_new], axis=1, join='outer')
df_merge

,ticker,date,open,high,low,close,volume,ticker,date,event
0,FB,2018-01-02,177.68,181.58,177.5500,181.42,18151903,FB,2018-07-25,Disappointing user growth announced after close
1,FB,2018-01-03,181.88,184.78,181.3300,184.67,16886563,FB,2018-03-19,Cambridge Analytica story
2,FB,2018-01-04,184.90,186.21,184.0996,184.33,13880896,FB,2018-03-20,FTC investigation
3,FB,2018-01-05,185.59,186.90,184.9300,186.85,13574535,NaN,NaN,NaN
4,FB,2018-01-08,187.20,188.90,186.3300,188.28,17994726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1250,GOOG,2018-12-24,973.90,1003.54,970.1100,976.22,1590328,NaN,NaN,NaN
1251,GOOG,2018-12-26,989.01,1040.00,983.0000,1039.46,2373270,NaN,NaN,NaN
1252,GOOG,2018-12-27,1017.15,1043.89,997.0000,1043.88,2109777,NaN,NaN,NaN
1253,GOOG,2018-12-28,1049.62,1055.56,1033.1000,1037.08,1413772,NaN,NaN,NaN
1254,GOOG,2018-12-31,1050.96,1052.70,1023.5900,1035.61,1493722,NaN,NaN,NaN

##### 9. Use the transform() method on the FAANG data to represent all the values in terms of the first date in the data. To do so, divide all the values for each ticker by the values for the first date in the data for that ticker. This is referred to as an index, and the data for the first date is the base (https:// ec. europa. eu/ eurostat/ statistics- explained/ index. php/Beginners:Statistical_ concept_ - _ Index_ and_ base_ year). When data is in this format, we can easily see growth over time. Hint: transform() can take a function name.

####