### Title: Term Project Milestone_2
### Author: Jerock Kalala
### Date: November 12 2022
### Professor: David Kinney
### Cleaning/Formatting Website Data

##### Perform at least 5 data transformation and/or cleansing steps to your API data.
##### Examples:
##### 1. Replace Headers
##### 2. Format data into a more readable format
##### 3. Identify outliers and bad data
##### 4. Find duplicates
##### 5. Fix casing or inconsistent values
##### 6. Conduct Fuzzy Matching
##### 7. Add data

In [251]:
import pandas as pd

#Reading
#data1 = 'https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory'
#dframe1=pd.read_html(data1)

In [252]:
#Since I have certificate issue and could not fix it yet, I decided to download and save the entire website's page locally
data = 'E:\\Bellevue\\Fall_2022\\' \
       'DSC 350 Data Wrangling for Data Scienc\\Term_Project\\COVID-19_pandemic_by_country_and_territory.html'
dframe=pd.read_html(data)

In [253]:
#Select the tables we want to use
df1 = (dframe[12])
df2 = (dframe[18])
df1

,Unnamed: 0,Country,Deaths / million,Deaths,Cases
0,NaN,World[a],828,6607545,634163652
1,NaN,Peru,6377,217146,4167290
2,NaN,Bulgaria,5594,37940,1282751
3,NaN,Bosnia and Herzegovina,5005,16184,400162
4,NaN,Hungary,4826,48111,2153564
...,...,...,...,...,...
216,NaN,Falkland Islands,—,—,1930
217,NaN,Vatican City,—,0,29
218,NaN,"Saint Helena, Ascension and Tristan da Cunha",—,—,2115
219,NaN,Tuvalu,—,—,163
220,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...

In [254]:
df2

,Unnamed: 0,Location,Vaccinated[a],Percent[b]
0,NaN,World[c][d],5440399954,68.22%
1,NaN,China[e],1303832000,91.44%
2,NaN,India,1026934310,72.46%
3,NaN,European Union[f],337924707,75.07%
4,NaN,United States[g],266401911,80.24%
...,...,...,...,...
218,NaN,Niue,1650,102.23%
219,NaN,Tokelau,1494,78.92%
220,NaN,Pitcairn Islands,47,100.00%
221,NaN,North Korea,0,0.00%
222,^ Number of people who have received at least ...,^ Number of people who have received at least ...,^ Number of people who have received at least ...,^ Number of people who have received at least ...

##### Let's Clean our data

In [255]:
#Let's look at the data type
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1 non-null      object
 1   Country           221 non-null    object
 2   Deaths / million  221 non-null    object
 3   Deaths            221 non-null    object
 4   Cases             221 non-null    object
dtypes: object(5)
memory usage: 8.8+ KB

In [256]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1 non-null      object
 1   Location       223 non-null    object
 2   Vaccinated[a]  223 non-null    object
 3   Percent[b]     223 non-null    object
dtypes: object(4)
memory usage: 7.1+ KB

1. In df1 and df2, We need to convert the Death/million, Deaths and other columns to numeric values if we want to do any analysis.

In [257]:
#df1['Deaths / million', 'Deaths', 'Cases'].astype(float)
df1['Deaths / million'].astype(float)

ValueError: could not convert string to float: '—'

We get an error:
The most likely culprit is the — . In our dataframe, they have use "-" for missing values. Let's replace it by '0"

2. We can get rid of it using pandas replace() function.

In [258]:
df1['Deaths / million'].replace({'—':'0'}, regex=True).astype('float')

ValueError: could not convert string to float: ".mw-parser-output .reflist{font-size:90%;margin-bottom:0.5em;list-style-type:decimal}.mw-parser-output .reflist .references{font-size:100%;margin-bottom:0;list-style-type:inherit}.mw-parser-output .reflist-columns-2{column-width:30em}.mw-parser-output .reflist-columns-3{column-width:25em}.mw-parser-output .reflist-columns{margin-top:0.3em}.mw-parser-output .reflist-columns ol{margin-top:0}.mw-parser-output .reflist-columns li{page-break-inside:avoid;break-inside:avoid-column}.mw-parser-output .reflist-upper-alpha{list-style-type:upper-alpha}.mw-parser-output .reflist-upper-roman{list-style-type:upper-roman}.mw-parser-output .reflist-lower-alpha{list-style-type:lower-alpha}.mw-parser-output .reflist-lower-greek{list-style-type:lower-greek}.mw-parser-output .reflist-lower-roman{list-style-type:lower-roman} ^ Countries which do not report data for a column are not included in that column's world total. ^ Data on member states of the European Union are individually listed, but are also summed here for convenience. They are not double-counted in world totals. ^ Does not include special administrative regions (Hong Kong and Macau) or Taiwan."

We got another error: ValueError: lueError: could not convert string to float.
A String is blocking the execution.

3. Delete unnecessary data. We are going to delete one column and two rows from our dataframe df1

In [259]:
df1 = df1.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0'], axis=1)

In [260]:
# Using drop() function to delete last the first and the last row
df1.drop(index=df1.index[0],axis=0,inplace=True)
df1.drop(index=df1.index[-1],axis=0,inplace=True)

df2.drop(index=df2.index[0],axis=0,inplace=True)
df2.drop(index=df2.index[-1],axis=0,inplace=True)
df1.head()

                  Country Deaths / million  Deaths    Cases
1                    Peru             6377  217146  4167290
2                Bulgaria             5594   37940  1282751
3  Bosnia and Herzegovina             5005   16184   400162
4                 Hungary             4826   48111  2153564
5         North Macedonia             4568    9564   344342

4. Remove and replace special Characters ('-' by '0' and '%' by '') form our two dataframes

In [261]:
df1 = df1[['Country','Deaths / million', 'Deaths', 'Cases']].replace({'—':'0'})
df2 = df2.replace({'%': ''}, regex=True)

Now let's try one more time to change the data type

In [262]:
#Now let's try one more time to change the data type
df1[['Deaths / million', 'Deaths', 'Cases']] = df1[['Deaths / million', 'Deaths', 'Cases']].apply(pd.to_numeric)
df2[['Vaccinated[a]', 'Percent[b]']] = df2[['Vaccinated[a]', 'Percent[b]']].apply(pd.to_numeric)

In [263]:
#Let's check
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 1 to 219
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           219 non-null    object
 1   Deaths / million  219 non-null    int64
 2   Deaths            219 non-null    int64
 3   Cases             219 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.0+ KB

In [264]:
df1.head()

                  Country  Deaths / million  Deaths    Cases
1                    Peru              6377  217146  4167290
2                Bulgaria              5594   37940  1282751
3  Bosnia and Herzegovina              5005   16184   400162
4                 Hungary              4826   48111  2153564
5         North Macedonia              4568    9564   344342

In [265]:
df2.head()

            Location  Vaccinated[a]  Percent[b]
1           China[e]     1303832000       91.44
2              India     1026934310       72.46
3  European Union[f]      337924707       75.07
4   United States[g]      266401911       80.24
5          Indonesia      204349928       74.17

5. Change headers

In [266]:
df1= (df1.rename(columns={'Country':'Location'}))
df2= (df2.rename(columns={'Vaccinated[a]':'Vaccinated', 'Percent[b]': 'Percent'}))#

In [267]:
df2.head()

            Location  Vaccinated  Percent
1           China[e]  1303832000    91.44
2              India  1026934310    72.46
3  European Union[f]   337924707    75.07
4   United States[g]   266401911    80.24
5          Indonesia   204349928    74.17

6. Merge our two dataframes

In [268]:
df3= pd.merge(df1, df2)
df3.head()

,Location,Deaths / million,Deaths,Cases,Vaccinated,Percent
0,Peru,6377,217146,4167290,30001286,88.11
1,Bulgaria,5594,37940,1282751,2103303,31.01
2,Bosnia and Herzegovina,5005,16184,400162,943394,28.91
3,Hungary,4826,48111,2153564,6419567,64.41
4,North Macedonia,4568,9564,344342,854335,40.62

In [269]:
df3.shape

(209, 6)