### Title: Exercice 5.2
### Author: Jerock Kalala
### Date: October 14 2022
### Professor: David Kinney
### Pandas skills exercises

#### 1. We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the stock_analysis package we will build in Chapter 7, Financial Analysis â€“ Bitcoin and the Stock Market). Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:

##### 1.1. Read each file in.

In [47]:
import numpy as np #import package
import pandas as pd

#read files
aapl = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\aapl.csv")
amzn = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\amzn.csv")
fb = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\fb.csv")
goog = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\goog.csv")
nflx = pd.read_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\nflx.csv")

##### 1.2. Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example). This is how you look up a stock. Each file's name is also the ticker symbol, so be sure to capitalize it.

In [48]:
aapl['ticker'] = 'AAPL'
amzn['ticker'] = 'AMZN'
fb['ticker'] = 'FB'
goog['ticker'] = 'GOOG'
nflx['ticker'] = 'NFLX'
print(aapl.head(), "\n")
print(amzn.head(), "\n")
print(fb.head(), "\n")
print(goog.head(), "\n")
print(nflx.head(), "\n")

         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL

         date     open     high      low    close   volume ticker
0  2018-01-02  1172.00  1190.00  1170.51  1189.01  2694494   AMZN
1  2018-01-03  1188.30  1205.49  1188.30  1204.20  3108793   AMZN
2  2018-01-04  1205.00  1215.87  1204.66  1209.59  3022089   AMZN
3  2018-01-05  1217.51  1229.14  1210.00  1229.14  3544743   AMZN
4  2018-01-08  1236.00  1253.08  1232.03  1246.87  4279475   AMZN

         date    open    high       low   close    volume ticker
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903     FB
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563     FB
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896     FB
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535     FB
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726     FB

         date     open     high      low    close   volume ticker
0  2018-01-02  1048.34  1066.94  1045.23  1065.00  1237564   GOOG
1  2018-01-03  1064.31  1086.29  1063.21  1082.48  1430170   GOOG
2  2018-01-04  1088.00  1093.57  1084.00  1086.40  1004605   GOOG
3  2018-01-05  1094.00  1104.25  1092.00  1102.23  1279123   GOOG
4  2018-01-08  1102.23  1111.27  1101.62  1106.94  1047603   GOOG

         date    open    high       low   close    volume ticker
0  2018-01-02  196.10  201.65  195.4200  201.07  10966889   NFLX
1  2018-01-03  202.05  206.21  201.5000  205.05   8591369   NFLX
2  2018-01-04  206.20  207.05  204.0006  205.63   6029616   NFLX
3  2018-01-05  207.25  210.02  205.5900  209.99   7033240   NFLX
4  2018-01-08  210.02  212.50  208.4400  212.05   5580178   NFLX

##### 1.3. Append them together into a single dataframe.

In [49]:
faang= pd.concat([aapl, amzn, fb, goog, nflx], ignore_index=True)
faang.shape

(1255, 7)

##### 1.4. Save the result in a CSV file called faang.csv.

In [50]:
faang.to_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\faang.csv", index=False)

##### 2. With faang, use type conversion to change the date column into a datetime and the volume column into integers. Then, sort by date and ticker.

In [51]:
faang.dtypes

date       object
open      float64
high      float64
low       float64
close     float64
volume      int64
ticker     object
dtype: object

In [52]:
#faang.loc[: , 'date'] = pd.to_datetime(faang.date)# used in the book
faang[faang.columns[0]] = pd.to_datetime(faang.date) #as suggested by the future version
faang.dtypes

date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int64
ticker            object
dtype: object

##### 3. Find the seven rows with the highest value for volume.

In [53]:
faang.nlargest(n=7, columns='volume')
#Or we can also use:
#faang.sort_values(by='volume', ascending= False).head(7)

          date      open      high       low     close     volume ticker
644 2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
555 2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
559 2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
556 2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
182 2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
245 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
212 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL

##### 4. Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format.
##### Hint: date and ticker are our ID variables (they uniquely identify each row).
##### We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [55]:
faang_m = faang.melt(id_vars=["date", "ticker"])
faang_m.head()

        date ticker variable     value
0 2018-01-02   AAPL     open  166.9271
1 2018-01-03   AAPL     open  169.2521
2 2018-01-04   AAPL     open  169.2619
3 2018-01-05   AAPL     open  170.1448
4 2018-01-08   AAPL     open  171.0375

In [56]:
#save the melted dataframe in a csv file calle faangmelt.csv
faang_m.to_csv("E:\\Bellevue\\Fall_2022\\DSC 350 Data Wrangling for Data Scienc\\Week_5\\exercises\\faangmelt.csv", index=False)

##### 5. Suppose we found out there was a glitch in how the data was recorded on July 26, 2018. How should we handle this? Note that there is no coding required for this exercise.

In [58]:
print("If we cannot correct it (replace with the correct data), We can decide to remove or drop it.")

If we cannot correct it, We can decide to remove or drop it.